body{
    overflow-x: hidden;
}
.scrollbutton{
    width: 30px;
    height: 30px;
    position: fixed;
    background: green;
    bottom:20px;
    right: 20px;
    background-image: url("images/scroll.png");
    background-position: center;
    background-size: cover;
    z-index: 10000;
    opacity: 0;
}
@media screen and (max-width: 1300px) {
    .scrollbutton{
       width: 30px;
       height: 30px;
    }

    .animate,.animate img{
       display: none;
    }

}

@media screen and (max-width: 900px) {
   .gethelp{
       display: none;
   }
}
.changecolor{
    width: 300px;
    height: auto;
    border: 0.5px solid rgb(12, 131, 75);
    position: relative;
    padding: 20px;
    transition: all 0.6s linear;
    

    
}
.changecolor h1{
    margin-top: -30px;
    font-size: 20px;
}
.colors,.layout,.navigationbar{
 padding-left: 10px;
 width: 60%;
 padding-top: 30px;
    
}
.colors>a,.navigationbar a{
    color: firebrick;
    font-size:17px;
    text-decoration: underline;

}
.colors>div{
    float: left;
    margin-left: 5px;
    margin-bottom: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.colors>div:hover{
    transform: scale(1.1);

}
.color1{
    background:red;
}
.color2{
    background: rgb(221, 59, 59);
}
.color3{
    background: blue;
}
.color4{
    background: rgb(69, 69, 196);
}
.color5{
    background: rgb(90, 13, 13);
}
.color6{
    background: yellow;
}
.color7{
    background: rgb(26, 56, 14);
}
.color8{
    background: rgb(90, 231, 65);
}
.layout button{
    width: auto;
    height: 40px;
    font-size: 1.3em;
    text-align: center;
    outline: none;
    border: none;
    cursor: pointer;
}
.layout button:nth-of-type(2){
    background: rgb(105, 105, 105);
    color: rgb(34, 28, 28);
}
.layout button:nth-of-type(1){
    background: #5CB85C;
    color: white;
}

.animate{
    width: 50px;
    height: 50px;
    background: white;
    position: absolute;
    top: -1px;
    left: 298px;
    border: 0.5px solid rgb(12, 131, 75);
    border-left: white;
    background-position: center;
    background-size: cover;
    cursor: pointer;
   
}
.animate img{
    margin-left: 5px;
    margin-top: 5px;
}
.changecolor{
    position: fixed;
    top:70px;
    left: -300px;
    z-index: 200;
    background: white;
}
.scrollbutton{
    width: 30px;
    height: 30px;
    position: fixed;
    background: green;
    bottom:20px;
    right: 20px;
    background-image: url("images/scroll.png");
    background-position: center;
    background-size: cover;
    z-index: 10000;
    opacity: 0;
}
@media screen and (max-width: 900px) {
    .scrollbutton{
       width: 30px;
       height: 30px;
    }
    .animate,.animate img{
       display: none;
    }
 .changecolor{
     display: none;
 }
}

@media (max-width: 880px) {
    .roundWithImage {
      display: none; }
  
    .elements {
      position: relative; }
  
    .mainRow:first-child {
      position: absolute;
      top: 45%; } }
  @media (max-width: 780px) {
    .mainRow:first-child {
      top: 53%; } }
  @media (max-width: 680px) {
    .mainRow:first-child {
      top: 60%; } }
  @media (max-width: 580px) {
    .mainRow:first-child {
      top: 30%; } }
  @media (max-width: 380px) {
    .mainRow:first-child {
      top: 30%; } }
  @media only screen and (max-width: 1400px) {
    .mainRow:first-child .left .leftDouble {
      height: 550px;
      float: none; }
      .mainRow:first-child .left .leftDouble .fa {
        float: left;
        padding: 2px 10px 20px 0px;
        cursor: pointer; }
    .mainRow:first-child .left .leftCenter {
      height: 550px;
      padding-top: 20px;
      float: none; }
      .mainRow:first-child .left .leftCenter .fa {
        float: left;
        padding: 2px 10px 20px 0px;
        cursor: pointer; }
    .mainRow:first-child .left .leftRight {
      height: 400px;
      padding-top: 20px;
      float: none; }
      .mainRow:first-child .left .leftRight .fa {
        float: left;
        padding: 2px 10px 20px 0px;
        cursor: pointer; }
    .mainRow:first-child .right {
      visibility: hidden; } }
  .navbar-nav span {
    background: #6acbf1;
    border-radius: 5px;
    padding: 5px;
    font-size: 0.7em;
    color: #fff;
    font-family: Lato, sans-serif; }
  .navbar-nav img {
    width: 20px;
    margin-top: 10px; }
  .navbar-nav .menu > span {
    background: #6acbf1;
    border-radius: 5px;
    padding: 5px;
    font-size: 0.7em; }
  .navbar-nav ul li:last-child {
    position: relative; }
  .navbar-nav a {
    font-family: Lato, sans-serif; }
  .navbar-nav .round {
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 13px;
    right: -15px;
    padding: 5px 8px;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    background-color: #69B417;
    color: #fff; }
  .navbar-nav .dropdown-item:hover {
    color: #69B417; }
  
  #header {
    position: relative; }
  
  .roundWithImage {
    position: absolute;
    right: 2%;
    top: 15%; }
  
  .navbar {
    padding: 0 !important; }
    .navbar ul li a {
      display: block;
      padding: 15px !important; }
  
  .elementsOpen {
    display: none; }
  
  .mainRow {
    position: absolute;
    height: auto;
    width: 90%;
    left: 5%;
    background: white;
    border-top: 2px solid green;
    z-index: 1111;
    padding-top: 40px; }
    .mainRow span {
      background: #6acbf1;
      border-radius: 5px;
      padding: 5px;
      font-size: 0.7em;
      color: #fff;
      font-family: Lato, sans-serif; }
    .mainRow .col-lg-4 {
      padding-right: 0; }
    .mainRow .left .leftDouble {
      height: 600px;
      float: left;
      padding-top: 20px; }
      .mainRow .left .leftDouble h5, .mainRow .left .leftDouble p {
        cursor: pointer;
        font-family: Lato, sans-serif; }
      .mainRow .left .leftDouble .fa {
        float: left;
        padding: 2px 10px 20px 0px;
        cursor: pointer; }
      .mainRow .left .leftDouble h5 {
        padding-bottom: 20px; }
      .mainRow .left .leftDouble span {
        display: inline; }
      .mainRow .left .leftDouble p {
        color: #8c8c8c;
        font-family: Lato, sans-serif; }
        .mainRow .left .leftDouble p:hover {
          color: #69B417; }
    .mainRow .left .leftCenter {
      height: 600px;
      float: left;
      padding-top: 20px; }
      .mainRow .left .leftCenter h5, .mainRow .left .leftCenter p {
        cursor: pointer;
        font-family: Lato, sans-serif; }
      .mainRow .left .leftCenter .fa {
        float: left;
        padding: 2px 10px 20px 0px;
        cursor: pointer; }
      .mainRow .left .leftCenter h5 {
        padding-bottom: 20px; }
      .mainRow .left .leftCenter span {
        display: inline; }
      .mainRow .left .leftCenter p {
        color: #8c8c8c;
        font-family: Lato, sans-serif; }
        .mainRow .left .leftCenter p:hover {
          color: #69B417; }
    .mainRow .left .leftRight {
      height: 600px;
      float: left;
      padding-top: 20px; }
      .mainRow .left .leftRight h5, .mainRow .left .leftRight p {
        cursor: pointer;
        font-family: Lato, sans-serif; }
      .mainRow .left .leftRight .fa {
        float: left;
        padding: 2px 10px 20px 0px;
        cursor: pointer; }
      .mainRow .left .leftRight h5 {
        padding-bottom: 20px; }
      .mainRow .left .leftRight span {
        display: inline; }
      .mainRow .left .leftRight p {
        color: #8c8c8c;
        font-family: Lato, sans-serif; }
        .mainRow .left .leftRight p:hover {
          color: #69B417; }
    .mainRow .right .rightUpper {
      height: 300px;
      background-image: url("images/bravana.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain; }
    .mainRow .right .rightDown {
      height: 80px; }
      .mainRow .right .rightDown img {
        margin-left: 30px; }
    .mainRow .right .rightDownButton {
      height: 80px; }
      .mainRow .right .rightDownButton .btn {
        margin-left: 10px;
        background: #69B417;
        color: #fff; }
        .mainRow .right .rightDownButton .btn .fa {
          color: #fff !important; }
  
  .wrapper {
    position: relative; }
    .wrapper .owl-carousel {
      overflow: hidden; }
    .wrapper .owl-carousel .item {
      width: 100%;
      height: 720px;
      position: relative;
      box-sizing: border-box; }
    .wrapper .angle .fa {
      font-size: 3.5em;
      position: absolute;
      top: 46%;
      z-index: 11;
      cursor: pointer;
      color: #7e7070; }
    .wrapper .angle .fa-angle-double-left {
      left: 60px; }
    .wrapper .angle .fa-angle-double-right {
      right: 60px; }
    .wrapper img {
      width: 100%;
      height: 100%;
      text-align: none !important; }
    .wrapper .owl-dots {
      position: absolute;
      bottom: 5%;
      right: 45%; }
  
  .dropdown-toggle::after {
    margin-left: 0em; }
  







.header{
    position: relative;
    height: 50px;
    margin-bottom: 20px;
}

.breadcrumb{
    margin-right: 20px;
    background: white ;
    font-size: 1.1em;
    float: right;
    width: 100%;
    position: relative;
    left: 300px;
}
.breadcrumb li{
    float: right;
}

.breadcrumb li a{
    color: red;
    
}
.breadcrumb li.active {
    color: rgba(22, 4, 4, 0.671) !important;
}

.header h1{

    font-size: 20px;
    margin-top: 20px;
    color: rgb(107, 80, 54);
}
@media screen and (max-width:700px) {
    .title h1{
        margin-left: 50px;
        font-size: 15px;
    
    }
    .breadcrumb{
        font-size: 15px;
        margin-left: 120px !important;
        left: 20px;
        
    }
    .backimage{
        margin-top: 50px;
    }
    
}
.firstpart{
    padding-top: 60px;
}
.writing{
    margin-top: 20px;

}
.writing h4 a{
    color: rgb(82, 68, 68);
    text-decoration: none;
}
.writing h4 a:hover{
    color: red;
}
.writing span,.writing span a{
    font-size: 13px;
    color: rgb(105, 105, 105);
    padding: 5px;
}
.writing span img{
    margin-right: 5px;
    margin-left: 5px;
}
.writing p{
    color: rgb(105, 105, 105);
    padding: 10px;
}
.readmore{
    background: rgb(16, 175, 16) !important;
    color: white !important;
    height: 50px !important;
    width: 200px;
}
.readmore:hover{
    background: rgb(60, 204, 60) !important;
    
}

.video{
    margin-top: 20px;
    width: 100% !important;
}
.error{
    width: 100%;
    height: 200px;
    background: rgba(210, 180, 140, 0.192);
    text-align: center;
    font-size: 12px;
}
.error h6{
      padding-top: 100px;
}
.error a{
    color: seagreen;
}
.error a img{
    margin-right: 5px; 
}
.backimage2{
    margin-top: 30px;
}
.pagnitation{
    margin-top: 80px;
    margin-left: 40%;
}
.pagnitation a{
    color: red;
}

.bottomsection span img{
    margin-right: 18px;
}
.bottomsection .contact{
    line-height: 40px;
    padding-left: 30px;
}
.bottomsection .contact p{
    line-height:25px;
    margin-top: 20px;
 }
 .bottomsection .contact p span,.ourmail{
     color: red;
 }
 .latest{
     padding-bottom: 5px;
 }
 .bottomsection .redline{
     margin-left: 10px;
     float: left;
     width: 50px;
     color: red;
     border-width: 2px;
     border-color: red;
     margin-top: -4px;
     
 }
 .dates{
     color: palevioletred;
     font-size: 10px;
   
 }
 .newsline{
     margin-top: 40px;
 }
 .news{
     padding-left: 30px;
 }
 .news a{
     font-size: 13px;
     color: rgb(80, 80, 16);
 }
 .bottom3{
     padding-left: 30px;
 }
 .entermail{
     padding: 10px;
     font-size: 15px;
     border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;   
     outline: none;
 }
 .sendmail{
     height: 46px;
     margin-left: -10px;
     background-color: #61A615;
     color: white;
     font-weight: 500;
     outline: none;
     border:none;
     cursor: pointer;
 }
 .sendmail:hover{
    background-color: rgb(140, 199, 77);
     
 }
 .bottomsection{
     margin-top: 60px;
 }
 .bottom12{
     margin-top: 50px;
     margin-left: 0px;
 }
 @media screen and (max-width: 700px) {
   .bottom12{
       margin-left: 0px;
   }
 }

 .rightside h4{
     font-weight: bolder;
     color: rgb(105, 105, 105);
 }
 .newsimage{
     float: left;
     margin-right: 10px;
 }
 .newsinner {
     font-size: 13px;
     font-weight: 500;
 }
 .newsinner a{
    color: rgb(105, 105, 105);
 }
 .newsinner span{
    color: rgb(187, 142, 142);
 }
 .new{
     margin-top: 10px;
 }
 .catagories h4{
     margin-top: 30px;
 }
 .cats{
     line-height: 40px;
     padding: 0px;
     position: relative;
     right: 20px;
 }
 .cats ul li a{
    color: rgb(105, 105, 105);
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
 }
 .cats ul li a:hover{
     color: red;
 }
 .c4 h4{
     font-size: 21px;
     margin: 50px 0;
 }
 .tags button{
     background: #F2F2F2;
     margin-bottom: 5px;
     padding: 6px;
     border:none;
     outline: none;
     font-size: 15px;
     color: gray;
     font-weight: 200;
     cursor: pointer;
 }
 .tags button:hover{
    background: rgb(65, 190, 65);
    color: white;
     
 }
 .search input{
     padding: 5px;
     font-size: 15px;     
    color: white;
     
 }
 .search button{
    background: rgb(70, 201, 70);
    color: white;
    height: 37px;
    border:none;
    outline: none;
    width: 50px;
     
 }